{% load static %}
<!DOCTYPE html>
<html lang="es">

{% include 'head_login.html' %}

<body>
    <div id="auth">
        <div class="row h-100">
            <div class="col-lg-5 col-12">
                <div id="auth-left">
                    <div class="auth-logo">
                        <a href="{% url 'public:index' %}"><img src="{% static 'libs/mazer/images/logo/logo.png' %}" alt="Logo"></a>
                    </div>
                    <h1 class="auth-title">¡Desconectado!</h1>
                    <p class="auth-subtitle mb-5">Gracias por visitaros, ¡lo esperamos nuevamente!</p>
                    <div class="text-center mt-5 text-lg fs-4">
                        <p class='text-gray-600'>Volver al <a href="{% url 'login' %}" class="font-bold">Log in</a>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 d-none d-lg-block">
                <div id="auth-right">
                </div>
            </div>
        </div>

    </div>
    {% include 'scripts.html' %}
</body>

</html>