{% load static %}
<!DOCTYPE html>
<html lang="es">

{% include 'head_login.html' %}

<body>
    <div id="auth">
        <div class="row h-100">
            <div class="col-lg-5 col-12">
                <div id="auth-left">
                    <div class="auth-logo">
                        <a href="{% url 'public:index' %}"><img src="{% static 'libs/mazer/images/logo/logo.png' %}" alt="Logo"></a>
                    </div>
                    <h1 class="auth-title">Restablecimiento de contraseña enviado</h1>
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>{{ error|escape }}</strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger alert-dismissible show fade" role="alert">
                                <strong>{{ error|escape }}</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <p class="auth-subtitle mb-5">Si la dirección de email ingresada es válida, recibirá las instrucciones para 
                        restablecer su contraseña</p>
                    <p class="auth-subtitle mb-5">Si no recibe el correo, asegurese de haber ingresado el email correctamente
                        o verifique su carpeta de correo no deseado.</p>
                    <div class="text-center mt-5 text-lg fs-4">
                        <p class='text-gray-600'>Volver al <a href="{% url 'login' %}" class="font-bold">Log in</a>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 d-none d-lg-block">
                <div id="auth-right">
                </div>
            </div>
        </div>

    </div>
    {% include 'scripts.html' %}
</body>

</html>