{% extends "core/abodefen/base.html" %}
{% load static %}
{% block login %}
<br>
<br>
<div class="container">
  <div class="text-center">
    <img class="img" src="{% static 'img/logo3.webp' %}" alt="" />
  </div>
  <br>
  <br>
  <div class="text-center">
    <h3 class="color-naranja">Contraseña Cambiada Correctamente</h3>
    <br>
    <p class="color-naranja">Su contraseña se ha cambiado correctamente</p>
  </div>
  <div class="d-grid gap-2 col-2 mx-auto color-naranja text-center">
    <button class="btn-orange"><a class=" text-reset text-decoration-none" href="{% url 'login' %}">Volver</a></button>
  </div>
  <br />
  <br />
  {% if form.errors %}
  {% for field in form %}
  {% for error in field.errors %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{error|escape }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{error|escape }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
</div>
{% endblock login %}