{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- Cuerpo principal del Dahboard -->
<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <h4 class="card-title">Asistencia</h4>
                <p class="card-text">
                    Gummies bonbon apple pie fruitcake icing biscuit apple pie jelly-o sweet
                    roll. Toffee
                    sugar plum sugar plum jelly-o jujubes bonbon dessert carrot cake.
                </p>
            </div>
            <img class="img-fluid w-100" src="{% static 'libs/mazer/images/samples/banana.jpg' %}" alt="Card image cap">
        </div>
        <div class="card-footer d-flex justify-content-between">
            <span>Card Footer</span>
            <button class="btn btn-light-primary">Read More</button>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <h4 class="card-title">Notas</h4>
                <p class="card-text">
                    Gummies bonbon apple pie fruitcake icing biscuit apple pie jelly-o sweet
                    roll. Toffee
                    sugar plum sugar plum jelly-o jujubes bonbon dessert carrot cake.
                </p>
            </div>
            <img class="img-fluid w-100" src="{% static 'libs/mazer/images/samples/banana.jpg' %}" alt="Card image cap">
        </div>
        <div class="card-footer d-flex justify-content-between">
            <span>Card Footer</span>
            <button class="btn btn-light-primary">Read More</button>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <h4 class="card-title">Anotaciones</h4>
                <p class="card-text">
                    Gummies bonbon apple pie fruitcake icing biscuit apple pie jelly-o sweet
                    roll. Toffee
                    sugar plum sugar plum jelly-o jujubes bonbon dessert carrot cake.
                </p>
            </div>
            <img class="img-fluid w-100" src="{% static 'libs/mazer/images/samples/banana.jpg' %}" alt="Card image cap">
        </div>
        <div class="card-footer d-flex justify-content-between">
            <span>Card Footer</span>
            <button class="btn btn-light-primary">Read More</button>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <h4 class="card-title">Card With Header And Footer</h4>
                <p class="card-text">
                    Gummies bonbon apple pie fruitcake icing biscuit apple pie jelly-o sweet
                    roll. Toffee
                    sugar plum sugar plum jelly-o jujubes bonbon dessert carrot cake.
                </p>
            </div>
            <img class="img-fluid w-100" src="{% static 'libs/mazer/images/samples/banana.jpg' %}" alt="Card image cap">
        </div>
        <div class="card-footer d-flex justify-content-between">
            <span>Card Footer</span>
            <button class="btn btn-light-primary">Read More</button>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <h4 class="card-title">Card With Header And Footer</h4>
                <p class="card-text">
                    Gummies bonbon apple pie fruitcake icing biscuit apple pie jelly-o sweet
                    roll. Toffee
                    sugar plum sugar plum jelly-o jujubes bonbon dessert carrot cake.
                </p>
            </div>
            <img class="img-fluid w-100" src="{% static 'libs/mazer/images/samples/banana.jpg' %}" alt="Card image cap">
        </div>
        <div class="card-footer d-flex justify-content-between">
            <span>Card Footer</span>
            <button class="btn btn-light-primary">Read More</button>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <h4 class="card-title">Card With Header And Footer</h4>
                <p class="card-text">
                    Gummies bonbon apple pie fruitcake icing biscuit apple pie jelly-o sweet
                    roll. Toffee
                    sugar plum sugar plum jelly-o jujubes bonbon dessert carrot cake.
                </p>
            </div>
            <img class="img-fluid w-100" src="{% static 'libs/mazer/images/samples/banana.jpg' %}" alt="Card image cap">
        </div>
        <div class="card-footer d-flex justify-content-between">
            <span>Card Footer</span>
            <button class="btn btn-light-primary">Read More</button>
        </div>
    </div>
</div>
{% endblock content %}